@model IEnumerable<MN_WEB.Entities.ProductoEnt>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Inicio.cshtml";
}


<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MN WEB</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto" rel="stylesheet">
    <link href="~/WebStyles/plugins/material/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/WebStyles/plugins/simplebar/simplebar.css" rel="stylesheet" />
    <link href="~/WebStyles/plugins/nprogress/nprogress.css" rel="stylesheet" />
    <link href="~/WebStyles/css/style.css" id="main-css-href" rel="stylesheet" />
    <script src="~/WebStyles/plugins/nprogress/nprogress.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>


<body class="navbar-fixed sidebar-fixed" id="body">

    <div class="wrapper">

        @*Menú Principal*@
        <aside class="left-sidebar sidebar-dark" id="left-sidebar">
            <div id="sidebar" class="sidebar sidebar-with-footer">
                <div class="app-brand">
                    <a href="@Url.Action("Principal","Home")">
                        <img src="~/WebStyles/images/logoGO.png" alt="Mono">
                    </a>
                </div>

                <div class="sidebar-left" data-simplebar style="height: 100%;">
                    <ul class="nav sidebar-inner" id="sidebar-menu">
                    </ul>
                </div>
            </div>
        </aside>

        <div class="page-wrapper">

            @*Header*@
            <header class="main-header" id="header">
                <nav class="navbar navbar-expand-lg navbar-light" id="navbar">

                    <button id="sidebar-toggler" class="sidebar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                    </button>

                    <span class="page-title"></span>

                    <div class="navbar-right ">
                        <div class="search-form">
                            
                        </div>


                        <a class="nav navbar-nav">
                                <a href="@Url.Action("IniciarSesion","Home")">Iniciar Sesion o Registrarse</a>
                        </a>
                    </div>
                </nav>
            </header>

            <div class="content-wrapper">
                <div class="content">

                    <div class="row" style="margin-top:40px;">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-3">
                                <div class="card" style="width: 100%;">
                                    <img src="@item.Imagen" class="card-img-top" alt="..." width="200" height="200" />
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Nombre</h5>
                                        <p class="card-text">Disponibles : @item.Stock <br> Precio: $ @item.Precio <br> Categoria:  @item.NombreCategoria</p>
                                    </div>
                                    <div class="row" style="text-align:center;">
                                        <div class="col-1"></div>
                                        <div class="col-5">
                                        </div>
                                    </div>
                                </div>
                                <br /><br />
                            </div>
                        }
                    </div>

                </div>
            </div>

            @*Footer*@
            <footer class="footer mt-auto">
                <div class="copyright bg-white">
                    <p>
                        &copy; @DateTime.Now.Year Copyright MN WEB
                    </p>
                </div>
            </footer>

        </div>
    </div>

    <script src="~/WebStyles/plugins/jquery/jquery.min.js"></script>
    <script src="~/WebStyles/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/WebStyles/plugins/simplebar/simplebar.min.js"></script>
    <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
    <script src="~/WebStyles/js/mono.js"></script>
    <script src="~/WebStyles/js/chart.js"></script>
    <script src="~/WebStyles/js/map.js"></script>
    <script src="~/WebStyles/js/custom.js"></script>

</body>
</html>